 
  <h1 id="closest_panneau"> Recharger en cas si rien ne se passe au bout de 10 secondes</h1>
  <div id="cmd" class="row button-group">
      <div class="button small-4 large-4 columns" onclick="change_panneaus_info_google_map({'is_ok':true});">Bon état</div>
      <div class="button small-4 large-4 columns"onclick="change_panneaus_info_google_map({'is_ok':false});">A recoller</div>
  </div>

  <!-- load giff-->
  <div class= "modal"></div>

  <div class="row">
    <div style="max-height: 1200px; height: 500px;" class="small-12 large-12 columns" id="mapdiv"></div>

    <hr>
    <div id="show_circo" class="button" onclick="show_circo();" >affiche contour de circonscriptions</div>
  </div>



  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzV04B77KxUM3NcLsXVA9U_2D7v1BwKMA"></script>
  <script type="text/javascript">

  var gm_marker = [];

  $( document ).ready(function() {
      
      if (window.location.protocol == "http:"){
        $("H1").html("!! Passez en HTTPS:// dans la barre d'adresse !!!");
      }
      loadGiff(true);
      initGoogleMap();

  });


  </script>

