<p id="notice"><%= notice %></p>

<body>

<hr>
  
  <div class="row">
      <div href="#" class="button small-12 large-12 columns" onclick="init_geoloc();">maj</div>
  </div>

  <h1 id="closest_panneau"> panneau le plus proche</h1>

  <div class="row button-group">
      <div href="#" class="button small-4 large-4 columns" onclick="change_panneaus_info({'is_ok':true});">Bon état</div>
      <div href="#" class="button small-4 large-4 columns"onclick="change_panneaus_info({'is_ok':false});">A recoller</div>
  </div>
  <hr>

  <div class="row">
    <div style="max-height: 800px; height: 300px;" class="small-12 large-12 columns" id="mapdiv"></div>
  </div>

  <hr>
  <table>
  <%@panneaus.each do |panneau|%>
    <tr>
      <td> <%= panneau[:name] %> </td>
      <td>  
        <% if panneau.updated_at %>
          <%= panneau.updated_at %>
        <% else %>
          Jamais inspecté
        <% end%>
      </td>
      <td>
        <% if panneau[:is_ok] %> 
          <i class="gen-enclosed foundicon-checkmark"><p>nickel chrome</p></i>
        <%else%>
          <i class="social foundicon-thumb-down panneau_pourri"><p>Pourri</p></i>
        <%end%>
      </td>
    </tr>
  <%end%>
  </table>

  <script type="text/javascript">
      $( document ).ready(function() {
        init_geoloc();
      });
  </script>

